/*---Productos---*/

/*---Estructuras---*/

/*---Variables---*/

$ColumnasPr: repeat(9, auto);

.ContainerPr {
    display: grid;
    grid-template-rows: $ColumnasPr;
    grid-template-columns: 100%;
    grid-gap:1rem;
    justify-content: center;
    grid-template-areas:
     "box1Pr"
     "box2Pr"
     "box3Pr"
     "box4Pr"
     "box5Pr"
     "box6Pr"
     "box7Pr"
     "box8Pr"
     "box9Pr";
}
.box1Pr {
    grid-area: box1Pr;
    }
.box2Pr {
    grid-area: box2Pr;
    }
.box3Pr {
    grid-area: box3Pr;
    }
.box4Pr {
    grid-area: box4Pr;
    }
.box5Pr {
    grid-area: box5Pr;
}
.box6Pr {
    grid-area: box6Pr;
}
.box7Pr {
    grid-area: box7Pr;
}
.box8Pr {
    grid-area: box8Pr;
}
.box9Pr {
    grid-area: box9Pr;
}
@media only screen and (max-width: 320px) {  
    .ContainerPr {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: $ColumnasPr;
        grid-gap:1rem;
        justify-content: center;
        grid-template-areas:
         "box1Pr"  
         "box2Pr" 
         "box3Pr"
         "box4Pr"
         "box5Pr"
         "box6Pr"
         "box7Pr";
    }
    .box1Pr {
        grid-area: box1Pr;
        }
    .box2Pr {
        grid-area: box2Pr;
        }
    .box3Pr {
        grid-area: box3Pr;
        }
    .box4Pr {
        grid-area: box4Pr;
        }
    .box5Pr {
        grid-area: box5Pr;
    }
    .box6Pr {
        grid-area: box6Pr;
    }
    .box7Pr {
        grid-area: box7Pr;
    }
    .box8Pr {
        grid-area: box8Pr;
    }
    .box9Pr {
        grid-area: box9Pr;
    }
    @media only screen and (max-width: 320px) {  
        .box5Pr {
            display: grid;
            grid-template-columns: 320px;
            grid-template-rows: auto;
            grid-gap:1rem;
            justify-content: center;
            grid-template-areas:
             "foto__grua--500"  
             "Art1500" 
             "Art2500"
             "Art3500"
             "Art4500"
             "Art5500"
             "Art6500"
             "Art7500"
             "Art8500";
        }
        .foto__grua--500 {
            grid-area: foto__grua--500;
            }
        .Art1500 {
            grid-area: Art1500;
            }
        .Art2500 {
            grid-area: Art2500;
            }
        .Art3500 {
            grid-area: Art3500;
            }
        .Art4500 {
            grid-area: Art4500;
        }
        .Art5500 {
            grid-area: Art5500;
        }
        .Art6500 {
            grid-area: Art6500;
        }
        .Art7500 {
            grid-area: Art7500;
        }
        .Art8500 {
            grid-area: Art8500;
        }
        .Art9500 {
            grid-area: Art9500;
        }
    .gruas__container {
        display: grid;
        grid-template-columns: 320px;
        grid-template-rows: repeat(2, auto);
        justify-content: center;
        grid-template-areas:
         "fotos__productos"  
         "tablas__gruas" 
    }
    .fotos__productos {
        grid-area: fotos__productos;
        width: 70%;
        height: auto;
    }
    .tablas__gruas {
        grid-area: tablas__productos;
        width: 70%;
        height: auto;
    }
    .tablas__gruas {
        justify-self: center;
        align-self: center;
        display: grid;
        grid-template-columns: 280px; 
        grid-template-rows: repeat(8, 40px); 
        border: 5px solid;
        align-items: center;
        justify-items: center;
        background-color: cadetblue;
    }
}

/*---Titulo---*/

.titulo__productos { font-size: 30px;
    font-style: inherit;
    color: darkred;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    letter-spacing: 5.5px;
    position: relative;
    top: auto;
    right: auto;
    margin-top: 10px;
}

/*---Texto---*/

.texto__productos { font-size: 30px;
    color: rgb(87, 83, 83);
    font-style: oblique;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-transform: initial;
    letter-spacing: 6px;
    word-spacing: 4.5px;
    top: auto;
    right: auto;
    position: relative;
}

/*---Tablas---*/

.gruas__container {
    border: 5px solid;
    display: grid;
    grid-template-columns: 50% 50%; 
    grid-template-rows: 600px; 
    align-content: center;
    justify-content: center;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: whitesmoke;
    background-image: linear-gradient(rgb(151, 200, 151), white);
}
.tablas__gruas {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100px 100px 300px 100px; 
    grid-template-rows: 40px 40px; 
    border: 5px solid;
    align-items: center;
    justify-items: center;
    background-color: cadetblue;
}
.tabla__garra {
    justify-self: center;
    align-self: center;
    display: grid;
    grid-template-columns: 100px 100px 230px 170px; 
    grid-template-rows: 40px 40px; 
    border: 5px solid;
    align-items: center;
    justify-items: center;
    background-color: cadetblue;
}

/*---Fotos---*/

.fotos__productos {
    justify-self: center;
    align-self: center;
}
.foto__grua--700 {
    height: 500px;
    width: 500px;
}  
.foto__grua--1200 {
    height: 500px;
    width: 350px;
}
